# Python
__pycache__/
*.pyc

# Database
*.db
*.sqlite3

# Uploads (Keep directory, ignore content)
static/uploads/*
!static/uploads/.gitkeep

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
tests/__pycache__/
